Microsoft.Flow/flows/24c53051-9f14-40cf-a61e-3206e45783e9/definition.json
{
  "name": "c1ba4f66-f7de-4672-bdd2-ab16c22eff01",
  "id": "/providers/Microsoft.Flow/flows/c1ba4f66-f7de-4672-bdd2-ab16c22eff01",
  "type": "Microsoft.Flow/flows",
  "properties": {
    "apiId": "/providers/Microsoft.PowerApps/apis/shared_logicflows",
    "displayName": "Generate Hashtags from Categories (Sub Flow)",
    "definition": {
      "metadata": {
        "workflowEntityId": null,
        "creator": {
          "id": "275d6c0c-ffb6-489d-86bb-46c6503ef26a",
          "type": "User",
          "tenantId": "6e23105c-65fe-4fb7-b6e1-20a39f3cbd67"
        },
        "provisioningMethod": "FromDefinition",
        "failureAlertSubscription": true,
        "clientLastModifiedTime": "2019-07-25T21:03:52.6511152Z"
      },
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": { "defaultValue": {}, "type": "SecureObject" }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "title": { "type": "string" },
                "primaryLink": { "type": "string" },
                "links": { "type": "array", "items": { "type": "string" } },
                "updatedOn": { "type": "string" },
                "publishDate": { "type": "string" },
                "summary": { "type": "string" },
                "copyright": { "type": "string" },
                "categories": { "type": "array", "items": { "type": "string" } }
              }
            },
            "method": "POST"
          }
        }
      },
      "actions": {
        "Apply_to_each": {
          "foreach": "@triggerBody()?['categories']",
          "actions": {
            "Append_to_string_variable": {
              "runAfter": {},
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "HashTags",
                "value": "@concat('#', items('Apply_to_each'), ' ')"
              }
            }
          },
          "runAfter": { "Initialize_HashTags": ["Succeeded"] },
          "type": "Foreach"
        },
        "Initialize_HashTags": {
          "runAfter": {},
          "type": "InitializeVariable",
          "inputs": { "variables": [{ "name": "HashTags", "type": "String" }] }
        },
        "Response": {
          "runAfter": { "Apply_to_each": ["Succeeded"] },
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200,
            "body": "@trim(variables('HashTags'))"
          }
        }
      },
      "outputs": {}
    },
    "connectionReferences": {},
    "flowFailureAlertSubscribed": false
  }
}
